<div class="navbar mt-10 flex justify-between items-center">
  <div class="flex">
    <div class="nav">
      <% if currentPage == 'home' %>
        <%= link_to("home", "/", class: "nav-link active far fa-folder-open") %>
      <% else %>
        <%= link_to("home", "/", class: "nav-link far fa-folder") %>
      <% end %>
    </div>
    <div class="nav">
      <% if currentPage == 'archive' %>
        <%= link_to("archive", "/archive", class: 'nav-link active fa fa-archive') %>
      <% else %>
        <%= link_to("archive", "/archive", class: 'nav-link fa fa-archive') %>
      <% end %>
    </div>
  </div>
  <div class="flex mw-auto justify-end">
    <div class="flex text-xs items-center text-gray-400">
      <div class="pr-3"> <%= @open.count %> open </div>
      <div class="pr-3"> <%= @closed.count %> archived </div>
    </div>

    <div class="block flex justify-end">
      <button class="px-2.5 py-1 text-xs text-green-600 font-semibold rounded-full border border-green-200 hover:text-white hover:bg-green-600 hover:border-transparent">
        <%= link_to("New Issue", "/post/new") %>
      </button>

      <div class="relative search-input ml-5">
        <i class="search absolute top-[6px] left-[11px] fas fa-search hover:cursor-pointer text-gray-400 hover:text-gray-500"></i>
        <input class="placeholder:italic placeholder:text-gray-400 block bg-white w-full border border-gray-300 rounded-md py-1 pl-9 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-xs" placeholder="Search" type="text" name="search"/>
      </div>
    </div>
  </div>
</div>
