<div class="eu:container mx-auto mt-10">
  <div class="flex justify-between items-center">
    <div class="nav">
      <% if @post.archive %>
      <%= link_to("archive /", "/", class: 'nav-link fa fa-archive dark:text-[#dce1f2]') %>
      <%= link_to("#{@post.title}/", "/post/#{@post.id}", class: 'nav-link far fa-file-archive dark:text-[#dce1f2]') %>
      <% else %>
      <%= link_to("home /", "/", class: 'nav-link far fa-folder-open dark:text-[#dce1f2]') %>
      <%= link_to("#{@post.title}/", "/post/#{@post.id}", class: 'nav-link far fa-file dark:text-[#dce1f2]') %>
        <% end %>
      <%= link_to("...edit", "/post/#{@post.id}/edit", class: 'nav-link active dark:text-[#66a3ff]') %>
    </div>
  </div>

  <div class="content py-6 my-2">
    <span class="text-sm text-gray-500 dark:text-[#dce1f2]">
      <%= @post.updated_at.in_time_zone("Asia/Tokyo").strftime("%I:%m %p, %Y-%0m-%0d %Z") %>
    </span>

    <%= form_tag("/post/#{@post.id}/update") do %>
      <%= render partial: 'post/issueForm', :locals => {:title => @post.title, :tags => @post.tags, :content => @post.content, :value => 'Update'}%>
    <% end %>
  </div>
</div>
