<div class="eu:container sm:container sm:mx-auto">
  <div class="mt-10"></div>
  <div class="flex justify-between items-center">
    <div class="flex">
      <div class="nav">
        <%= link_to("home", "/", class: 'nav-link far fa-folder') %>
      </div>
      <div class="nav">
        <%= link_to("archive", "/archive", class: 'nav-link active fa fa-archive') %>
      </div>
    </div>
    <div class="flex mw-auto justify-end">
      <div class="flex text-xs items-center text-gray-400 pr-5">
        <div class="pr-3"> <%= @open.count %> open </div>
        <div class="pr-3"> <%= @closed.count %> archived </div>
      </div>
    </div>
  </div>


  <ul role="list" class="py-5 my-2">
    <% @closed.each do |post| %>
      <li class="pb-2 hover:bg-gray-50">
        <div class="leading-4">
          <p class="title text-sm">
          <%= link_to((" #{post.title}"), "/post/#{post.id}", class: "far fa-file-archive") %>
          </p>
          <span class="date text-xs text-gray-300 pl-2">
            <%= "##{post.id}  created on #{post.created_at.strftime("%b %0d")}" %>
          </span>
        </div>
      </li>
    <% end %>
  </ul>
</div>
