<div class="eu:container sm:container sm:mx-auto">
  <div class="mt-10 flex justify-between items-center">
    <div class="flex">
      <div class="nav">
        <%= link_to("home", "/", class: 'nav-link active far fa-folder-open') %>
      </div>
      <div class="nav">
        <%= link_to("archive", "/archive", class: 'nav-link fa fa-archive') %>
      </div>
    </div>
    <div class="flex mw-auto justify-end">
      <div class="flex text-xs items-center text-gray-400 pr-5">
        <div class="pr-3"> <%= @open.count %> open </div>
        <div class="pr-3"> <%= @closed.count %> archived </div>
      </div>

      <div class="block flex justify-end">
        <button class="px-2.5 py-1 text-xs text-green-600 font-semibold rounded-full border border-green-200 hover:text-white hover:bg-green-600 hover:border-transparent">
          <%= link_to("New Issue", "/post/new") %>
        </button>
      </div>
    </div>
  </div>
  <ul role="list" class="py-5 my-2">
    <% @open.each do |post| %>
      <li class="pb-2 hover:bg-gray-50">
        <div class="leading-4 flex">
          <p class="title text-sm">
          <%= link_to((" #{post.title}"), "/post/#{post.id}", class: "far fa-file") %>
          </p>
          <div class="tags ml-3">
            <% if post.tags %>
              <% tags = post.tags.split(' ') %>
              <% tags.each do |tag| %>
                <span class="<%=tag%> tag-default px-2 py-0.5 text-xs rounded-full hover:border-transparent"><%=tag%></span>
              <% end %>
            <% end %>
          </div>
        </div>
        <span class="date text-xs text-gray-300 pl-2">
          <%= "##{post.id}  created on #{post.created_at.strftime("%b %0d")}" %>
        </span>

      </li>
    <% end %>
  </ul>
</div>
