<div class="container mx-auto px-80">
  <div class="mt-10 flex justify-between items-center">
    <div class="border px-2 py-1 nav flex justify-start text-xs text-gray-500">
      <%= link_to("./home", "/") %>
    </div>
    <div class="flex mw-auto justify-end">
      <div class="flex text-xs items-center text-gray-400 pr-5">
        <div class="pr-3"> <%= @open.count %> open </div>
        <div class="pr-3"> <%= @closed.count %> archived </div>
      </div>

      <div class="block flex justify-end">
        <button class="px-2.5 py-1 text-xs text-green-600 font-semibold rounded-full border border-green-200 hover:text-white hover:bg-green-600 hover:border-transparent">
          <%= link_to("New Issue", "/post/new") %>
        </button>
      </div>
    </div>
  </div>
  <ul role="list" class="py-5 my-2">
    <% @open.each do |post| %>
      <li class="pb-2 hover:bg-gray-50">
        <div class="leading-4">
          <p class="title text-lg underline decoration-sky-400 hover:decoration-blue-600">
          <%= link_to(markdown("$ cd '#{post.title}'"), "/post/#{post.id}") %>
          </p>
          <span class="date text-xs text-gray-300 pl-2">
            <%= "##{post.id}  created on #{post.created_at.strftime("%b %0d")}" %>
          </span>
        </div>
      </li>
    <% end %>
  </ul>
</div>
