<div class="container mx-auto px-[20vw]">
  <div class="mt-10"></div>

  <div class="flex justify-between items-center">
    <div class="nav">
      <% if @post.archive %>
        <%= link_to("archive/", "/archive", class: 'nav-link fa fa-archive') %>
        <%= link_to("#{@post.title}/", "/post/#{@post.id}", class: "nav-link active far fa-file-archive") %>
      <%else %>
        <%= link_to("home/", "/", class: 'nav-link far fa-folder-open') %>
        <%= link_to("#{@post.title}/", "/post/#{@post.id}", class: "nav-link active far fa-file") %>
      <%end %>
    </div>
    <div class="flex justify-end">
      <% if @post.archive %>
        <button class="px-2.5 py-1 text-xs text-blue-600 font-semibold rounded-full border border-blue-200 hover:text-white hover:bg-blue-600 hover:border-transparent">
          <%= link_to("Unarchive", "/post/#{@post.id}/archive") %>
        </button>
      <% else %>
        <button class="px-2.5 py-1 text-xs text-rose-600 font-semibold rounded-full border border-rose-200 hover:text-white hover:bg-rose-600 hover:border-transparent">
          <%= link_to("Archive", "/post/#{@post.id}/archive") %>
        </button>
      <% end %>

      <button class="px-2.5 py-1 mx-2 text-xs text-gray-600 font-semibold rounded-full border border-gray-200 hover:text-white hover:bg-gray-600 hover:border-transparent">
        <%= link_to("Edit", "/post/#{@post.id}/edit") %>
      </button>
    </div>
  </div>

  <div class="py-6 my-2">
    <span class="text-xs text-gray-500 flex justify-end mb-5">
      <%if @post.created_at != @post.updated_at %>
        <%= "last updated: #{@post.updated_at.strftime("%I:%M %p, %Y-%0m-%0d")}" %>
      <% else %>
        <%= @post.created_at %>
      <% end %>
    </span>
    <%= markdown(@post.content) %>
  </div>
</div>
