<!DOCTYPE html>
<html>
  <head>
    <title>TIL Logger</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">

    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="dark:bg-[#181b28]">
    <%= yield %>
  </body>

  <div class="sns flex justify-center items-center my-5">
    <div class="sns-github mr-3 ">
      <a href="https://github.com/euisblue/">
        <img src="/images/gh-128.png" width="32" height="32">
        <img src="/images/gh-128-white.png" class="hide" width="32" height="32">
      </a>
    </div>
  </div>
</html>
